:root {
  --primary: #423d3a;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: #dbd2bb;
}

/* NAV BAWAH */
.navbawah {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 1.4rem 4%;
  /* background-color: var(--primary); */
  top: 0;
  width: 100%;
  height: 6rem;
  /* border: red solid; */

  z-index: 9999;
}

.logo {
  font-family: "Libre Baskerville";
  font-size: 2rem;
  font-weight: 100;
  color: white;
  /* border: green solid; */
}

.navbawah .pagelinks a {
  display: inline-block;
  color: white;
  margin: 0 1.5rem;
}

#home-page {
  color: #9c4108;
}

.navbawah .pagelinks a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid white;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbawah .pagelinks a:hover::after {
  transform: scaleX(1);
}

.navbawah .icon a {
  color: white;
  margin: 0 0.5rem;
}

.navbawah .icon a:hover {
  color: #897c73;
}

#menu {
  display: none;
}

.picture-wrap {
  position: relative;
  /* max-width: 48rem; */
  width: 100%;
  height: 45rem;
  margin: 0 auto;
  background-color: black;
  /* border: rgb(127, 30, 192) solid; */
}

.picture-wrap img {
  width: 100%;
  height: 45rem;
  justify-content: center;
  align-items: center;
  object-fit: cover;

  /* object-fit: cover; */
  opacity: 0.4;
}

.banner-desc {
  position: absolute;
  color: white;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  bottom: 8rem;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.banner-desc h1 {
  letter-spacing: 0.2rem;
}

.button-wrap-banner {
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  bottom: 30%;
}

#home-page {
  color: #c0c0c0;
}

.button-wrap-banner a {
  color: white;
  border: 0.1rem white solid;
  padding: 0.7rem;
  border-radius: 0.2rem;
}

.button-wrap-banner a:hover {
  background-color: white;
  color: #141414;
  transition: 0.4s;
}

.button-wrap-banner a:hover::after {
  transition: 0.4s;
}

button {
  padding: 1rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  background-color: 0%;
}

button:hover {
  color: rgb(122, 121, 117);
  transition: 0.2s;
}

button:hover::after {
  transition: 0.2s;
}

/* BRAND LOGO */
.brand-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 3rem;
  font-weight: 500;
  border: aquamarine;
}
.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  padding-top: 0;
  height: 40rem;
  /* border: rgb(46, 182, 87) solid; */
}

.brand-wrap {
  /* border: purple solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand img {
  width: 11.4rem;
}
.brand-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-position img {
  /* margin: left 2rem; */
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

/* SERVICE */
.service {
  position: relative;
  height: 42rem;
  background-color: black;
  margin-bottom: 2rem;
}
.service img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  object-fit: cover;
}

.service h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  /* bottom: 0; */
  margin: 3rem auto;
  color: white;

  font-weight: 500;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  width: 40rem;
  /* height: auto; */
  margin: auto;
  color: white;
}

.button-wrap {
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 20%;
  /* align-items: center; */
  text-decoration: none;
  bottom: 10%;
  /* border: red solid; */
}

.button-wrap a {
  color: white;
  border: 0.1rem white solid;
  padding: 0.7rem;
  border-radius: 0.2rem;
}

.button-wrap a:hover {
  background-color: white;
  color: #141414;
  transition: 0.4s;
}

/* FOOTER */
.footer-wrap {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  bottom: 0;
  /* justify-content: space-between; */

  color: white;
}

/* .logo-foot {
  font-family: "Libre Baskerville";
  color: white;
} */

.foot-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem 3rem;
  border-bottom: #897c73 solid 0.05rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.footer-nav a {
  color: white;
}

.sosmed-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.sosmed-footer h1 {
  font-weight: 400;
}

.sosmed-logo-footer {
  justify-content: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 2.5rem;
}

.sosmed-logo-footer a {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;

  color: white;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  font-family: "Libre Baskerville";
  color: white;
  /* masi blm bisa fontnya */
}
/* media queries */

/* laptop */
@media (min-width: 1367px) {
  html {
    font-size: 130%;
  }
}

/* tab */
@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  #menu {
    display: inline-block;
  }

  .navbawah .pagelinks {
    position: absolute;
    right: -100%;
    top: 100%;
    background-color: #141414;
    width: 30rem;
    height: 100vh;
  }

  /* .navbawah */
  .pagelinks.active {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    right: 0;
    transition: 0.2s;
  }

  .pagelinks.active a {
    margin: 2rem 0;
    /* border: green solid; */
    font-size: 2rem;
  }

  .navbawah .pagelinks a::after {
    content: "";
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid white;
    transform: scaleX(0);
    transition: 0.2s linear;
  }

  .navbawah .pagelinks a:hover::after {
    transform: scaleX(1);
  }

  /* ga bisa keknya
    .navbawah .icon a{
        width: 60%;
        height: 60%;
    } */
}

@media (max-width: 551px) {
  .brand {
    height: 55rem;
  }
  .brand-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* align-items: center; */
    /* margin: auto; */

    width: auto;
    height: 40rem;
    /* border: rgb(172, 22, 22) solid; */
  }
  .brand img {
    width: 11.4rem;
  }
  .brand-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 2rem;
  }

  .brand-position img {
    /* margin: left 2rem; */
    margin: 1.5rem 1rem;
  }

  /* .service {
    display: none;
  } */
}

/* hp */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
